ul#demoList{
	position:relative;
	list-style:none;
	margin:40px;
	padding:0;
}
ul#demoList li{
	position:relative;
	display:block;
	padding:20px;
	width:150px;
	margin-bottom:3px;
	border:1px solid #CCC;
	background-color:#E0E0E0;
}
ul#demoList.hidden li{
	display:none;
}
ul#demoList li:hover{
	background-color:#EEE;
}